.cart {
    margin-top: 100px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr;
    align-items: center;
    font-size: max(1vw, 13px);
    font-weight: bold;
}

.cart-items-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr;
    align-items: center;
    margin: 10px 0px 10px 5px;
    color: black;
    font-size: max(1vw, 13px);
    font-weight: 500;
}

.cart-items-item img {
    width: 50px;
    border-radius: 50%;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-items-item .remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.cart-items-item .remove img {
    width: 30px;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
}

.cart-total hr {
    margin: 10px 0px;
}

.cart-total button {
    border: none;
    color: white;
    background-color: #7bae37;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-total button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.cart-promocode {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-promocode-title {
    font-size: max(1vw, 13px);
    font-weight: bold;
}

.cart-promocode-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
    padding: 5px 5px;
    width: 100%;
    margin-top: 10px;
}


.cart-promocode-input input {
    border: none;
    background: transparent;
    outline: none;
    padding-left: 10px;
    flex: 1;
    font-size: max(1vw, 13px);
}

.cart-promocode-input button {
    border: none;
    background-color: #7bae37;
    color: white;
    padding: 12px 5px;
    border-radius: 4px;
    cursor: pointer;
    width: max(10vw, 150px);
}

.cart-promocode-input button:hover {
    background-color: #6a9b2e;
}

@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

    .cart-promocode {
        justify-content: start;
    }

    .cart .food-image {
        width: 30px;
    }

    .cart-items-item .remove {
        gap: 5px;
        margin-right: 8px;
    }
}