.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/public/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 20px;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    gap: 1.5vw;
    max-width: 50%;
    top: 75%; /* Position top at 50% */
    left: 50%; /* Position left at 50% */
    transform: translate(-50%, -50%); /* Adjust position to center */
    animation: fadeIn 5s;
    
}

.header-contents h2{
    font-size: max(4.5vw,22px);
    color: white;
    font-weight: 500 ;
}

.header-contents p{
    font-size: max(1vw);
    color: white;
    font-weight: 300;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;

}

@media (max-width: 1050px) {
   
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 750px) {

 
    .header-contents{
        max-width: 65%;
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 1vw 3vw;
        margin-top: 17px;
    }
}