.footer{
    margin-top: 100px;
    color: #d9d9d9;
    background-color: #273e47;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-right, .footer-content-center, .footer-content-left .footer-city{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-content-left .footer-city li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-right h2, .footer-content-center h2 ,.footer-content-left .footer-city h2{
    color : white;
}


.footer-content-left .logo{
    width: 200px;
}



.footer-content-right .social{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.footer-content-right .social svg:hover {
    color: #7bae37; 
    transform: scale(1.1); 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.footer-copyright {
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
}

.footer-copyright a{
    color: #7bae37;
    text-decoration: underline;
}

@media (max-width : 750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px
    }

    .footer-content-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }

    .footer-copyright {
        text-align: justify;
        text-justify: inter-word;
        font-size: 12.5px;
    }
}

